obj/project.assets.json
obj/project.nuget.cache
obj/Zitac.SSH.csproj.nuget.dgspec.json
obj/Zitac.SSH.csproj.nuget.g.props
obj/Zitac.SSH.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Zitac.SSH.AssemblyInfo.cs
obj/Debug/net6.0/Zitac.SSH.AssemblyInfoInputs.cache
obj/Debug/net6.0/Zitac.SSH.assets.cache
obj/Debug/net6.0/Zitac.SSH.csproj.AssemblyReference.cache
obj/Debug/net6.0/Zitac.SSH.GeneratedMSBuildEditorConfig.editorconfig
